.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: calc((24 / var(--max-height)) * 100vh);
  overflow: hidden;
  padding: calc((20 / var(--max-height)) * 100vh);
}

.arrowback {
  width: calc((24 / var(--max-height)) * 100vh);
  /* width: calc((24 / 852) * 100vh); */
  height: calc((24 / var(--max-height)) * 100vh);
  margin-top: calc((33 / var(--max-height)) * 100vh);
  margin-bottom: calc((22 / var(--max-height)) * 100vh);
  background-image: url('/public/arrow-back.svg');
  background-size: cover;
  cursor: pointer;
}

.content {
  /* height: calc((386 / var(--max-height)) * 100vh); */
  max-height: 386px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content__header {
  /* border: 1px solid red; */
  padding: 0;
  margin-bottom: calc((20 / var(--max-height)) * 100vh);

  h2 {
    /* line-height: 1; */
    color: #121212;
    font-size: calc((24 / var(--max-height)) * 100vh);
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

  p {
    /* line-height: 1; */
    font-size: calc((14 / var(--max-height)) * 100vh);
    text-align: center;
    margin: 0;
    color: #939199;
  }
}

.content__form {
  width: calc((353 / var(--max-height)) * 100vh);
  max-width: 353px;
  box-sizing: border-box;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;

  label {
    font-size: calc((14 / var(--max-height)) * 100vh);
    margin-bottom: 5px;
    display: inline-block;
    text-align: left;
    width: 100%;
  }

  input {
    font-size: calc((14 / var(--max-height)) * 100vh);
    border: none;
    margin-bottom: calc((20 / var(--max-height)) * 100vh);
    width: calc((353 / var(--max-height)) * 100vh);
    height: calc((54 / var(--max-height)) * 100vh);
    max-width: 353px !important;
    max-height: 54px;
    box-sizing: border-box;
    border-radius: calc((12 / var(--max-height)) * 100vh);
    outline: none;
    border: 1px solid #775ce5;
  }

  span {
    font-size: calc((14 / var(--max-height)) * 100vh);
    color: #1d1d1f;
    margin-bottom: calc((20 / var(--max-height)) * 100vh);
    display: inline-block;
    text-align: left;
    width: 100%;
  }
}

.navLink {
  color: #775ce5;
  margin-left: 5px;
}

.warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2883d;
  border-radius: calc((10 / var(--max-height)) * 100vh);
  width: calc((346 / var(--max-height)) * 100vh);
  height: calc((48 / var(--max-height)) * 100vh);
  max-width: 350px !important;
  max-height: 48px;
  background-color: #f2883d10;
  margin: 0 -1px;
  margin-top: calc((20 / var(--max-height)) * 100vh);
  box-sizing: border-box;
  outline: none;

  span {
    /* border: 1px solid #f2883d; */
    font-size: calc((14 / var(--max-height)) * 100vh);
    text-align: center;
    display: block;
    margin: 0;
    color: #f2883d;
    width: fit-content;
  }
  img {
    margin: 0 5px 0 0;
    width: calc((16 / var(--max-height)) * 100vh);
    height: calc((16 / var(--max-height)) * 100vh);
    max-width: 16px;
    max-height: 16px;
  }
}

.warningOff {
  display: none;
}

.inputPassword {
  position: relative;
  display: inline-block;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;

  button {
    position: absolute;
    right: calc((8 / var(--max-height)) * 100vh);
    top: calc((14 / var(--max-height)) * 100vh);
    background: none;
    border: none;
    cursor: pointer;
  }

  img {
    width: calc((22 / var(--max-height)) * 100vh);
    height: calc((22 / var(--max-height)) * 100vh);
  }
}
