:root {
  --max-width: 393;
  --max-height: 852;
  --aspect-ratio: 1/2.17;
  --needed: calc((10 / var(--max-height)) * 100vh);
}

body {
  margin: 0;
  padding: 10px;
  background-color: black;
  font-family: Jost, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: Jost, sans-serif;
  max-width: var(--max-width);
  max-height: var(--max-height);
  width: 100%;
  height: auto;
  border-radius: calc((24 / var(--max-height)) * 100vh);
  /* border-radius: 24px; */
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  /* border: 3px solid greenyellow; */
}

@media (max-height: 852px) {
  .App {
    height: calc(100vh - 20px);
    width: calc((100vh - 20px) * var(--aspect-ratio));
  }
}

@media (min-height: 853px) {
  .App {
    height: calc(var(--max-height) * 1px);
    width: calc(var(--max-height) * var(--aspect-ratio) * 1px);
  }
}

.devInfo {
  position: absolute;
  top: 0;
  right: -200px;
  color: red;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  p {
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: 500;
  }
}

.devNav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  a {
    color: rgb(42, 162, 122);
  }
}
